* {
    font-family: "Red Hat Display", sans-serif;
}

body {
    background: linear-gradient(to bottom, #F1E6FF, #D5B1FF 100%);
    margin: 0;
    height: auto;
    width: 100vw;
    background-color: lightgray;
    text-align: center;
    overflow-x: hidden;
    overflow-y: auto;
}

body h1, h2 {
    font-size: 2rem;
    font-family: "Gravitas One", serif;
}

/* CSS for general boxes used to contain components */
.box {
    background: linear-gradient(to bottom, white 55%, #FFBED6 100%);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1%;
    margin: 20px auto;
    max-width: 85%;
    height: auto;
}

.headers {
    background: linear-gradient(to bottom, white, #FFBED6 100%);
}

.box p {
    font-size: 1.3rem;
}

/* Positioning for drop down box of map chart */
#map-selection {
    z-index: 10;
    position: absolute;
    bottom: 14%;
    right: 80%;
}

/* css for the textboxes for details regarding the charts */
.textbox {
    text-align: justify;
}

/* Move the drop down box of the trends chart to the left */
#trends-chart .vega-bindings {
    justify-content: flex-start !important;
}

/* Fade in and out csss */
.fade-in {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.fade-in.visible {
    opacity: 1;
    transform: scale(1);
}

/* Stagger the animations for a nicer effect */
.fade-in:nth-child(1) { transition-delay: 0.1s; }
.fade-in:nth-child(2) { transition-delay: 0.2s; }
.fade-in:nth-child(3) { transition-delay: 0.3s; }
.fade-in:nth-child(4) { transition-delay: 0.4s; }
.fade-in:nth-child(5) { transition-delay: 0.5s; }